<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторные работы по "Разработке веб-приложений"</title>
</head>
<body>
    <h1>Басенко Каролина Евгеньевна, гр. 231-3210 🐾</h1>
    <ol>
        <li><a href="/lab1">Лабораторная работа № 1</a></li>
        <li><a href="/lab2">Лабораторная работа № 2</a></li>
        <li><a href="/lab3">Лабораторная работа № 3</a></li>
        <li><a href="/lab4">Лабораторная работа № 4</a></li>
        <li><a href="/lab5">Лабораторная работа № 5</a></li>
        <li><a href="/lab6">Лабораторная работа № 6</a></li>
    </ol>
</body>
</html>