{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Задание к лабораторной работе</h1>
        
        <p class="fw-bold">
            1. Разработайте веб-приложение с использованием фреймворка Flask.
        </p>

        <p>Добавьте в приложение страницы, на которых отображаются </p>

        <ul class="my-3">
            <li>параметры URL,</li>
            <li>заголовки запроса,</li>
            <li>cookie,</li>
            <li>параметры формы.</li>
        </ul>

        <p>На странице "Cookie" нужно устанавливать значение какого-то определённого куки (на ваше усмотрение), если оно не было установлено ранее, и удалять, если оно было установлено.</p>

        <p class="fw-bold">
            2. Форма с обработкой ошибок
        </p>

        <p class="fw-bold">
            3. Напишите тесты для реализованного функционала. Проверьте следующие аспекты:
        </p>

        <ul class="my-3">
            <li>На странице "Параметры URL" отображаются все переданные в запросе параметры;</li>
            <li>На странице "Заголовки запроса" отображаются все заголовки запроса (названия и значения);</li>
            <li>На странице "Cookie" корректно устанавливается и удаляется значение куки в соответствии с заданием;</li>
            <li>На странице "Параметры формы" отображаются введённые пользователем значения после отправки формы;</li>
            <li>
                Валидация и форматирование номера телефона работают коррекно при любых возможных входных данных 
                (проверить принципиально различные варианты);
            </li>
            <li>
                На странице с валидацией номера телефона в случае возникновения ошибки выводится 
                соответствующее сообщение об ошибке и используются соответствующие классы Bootstrap (см. задание);
            </li>
            <li>На странице с валидацией номера телефона в случае ввода корректного номера выводится отформатированный номер.</li>
        </ul>

        <p>В результате у вас должно получиться не менее 15 тестов.</p>
    </div>
</div>
{% endblock %}